{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title text-success">Fast Learners List</h5>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Subject</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in fast_learners %}
                            <tr>
                                <td>{{ c.student.name }}</td>
                                <td>{{ c.subject }}</td>
                            </tr>
                            {% else %}
                            <tr><td colspan="2">None found.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title text-warning">Slow Learners List</h5>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Subject</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in slow_learners %}
                            <tr>
                                <td>{{ c.student.name }}</td>
                                <td>{{ c.subject }}</td>
                            </tr>
                            {% else %}
                            <tr><td colspan="2">None found.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
